.App {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.whole-wp {
  height: 100vh;
}

.city-data {
  margin: 2em;
}

.barchart-wrapper {
  min-width: 480px;
  overflow: scroll;
}

.data {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
  padding: 0 1em;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.data::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background-color: #2684FF;
}

.city-select {
  width: 20%;
  margin: 1em;
}
